
@font-face {
    font-family: "commodore";
    src: url("./commodore.TTF");
  }
canvas {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 20%;
}

body {
    background-color: black;
    color: white;
    font-family:'commodore';
}
h3{
    position: absolute;
    top: 10%;
    left: 30%;
}
